<b><u>CLIENTS</u></b>
{% if latest_clients_list %}
<br>
<a href="/client_management/clients">remove filters</a>
<br>

<table>
  <tr>
    <td>-</td>
    <td>{% if order_by_name == 'asc' %}
    <a href="/client_management/clients?order_by_name=desc">></a>
    {% else %}
    <a href="/client_management/clients?order_by_name=asc"><</a>
    {% endif %}</td>
    <td>{% if order_by_email == 'asc' %}
    <a href="/client_management/clients?order_by_email=desc">></a>
    {% else %}
    <a href="/client_management/clients?order_by_email=asc"><</a>
    {% endif %}</td>
    <td>-</td>
    <td>-</td>
  <tr>
  <tr>
    <td><b>id</b>&emsp;&emsp;</td>
    <td><b>name</b>&emsp;&emsp;&emsp;&emsp;</td>
    <td><b>email address</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
    <td><b># of Documents</b>&emsp;&emsp;</td>
    <td><b># of requested documents</b></td>
  </tr>
  {% for client in latest_clients_list %}
    <tr>
      <td><a href="/client_management/client/{{ client.id }}/">{{ client.id }}</a></td>
      <td> {{client.first_name}} {{client.surname}}</td>
      <td> {{client.email_address}}</td>
      <td><a href="/client_management/client/{{ client.id }}/documents">{{client.document_count}}</a></td>
      <td> {{client.requested_document_count}}</td>
    </tr>
  {% endfor %}

</table>
{% else %}
    <p>You have no clients.</p>
{% endif %}
